<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Visits</th>
    </tr>
    <% visitors.forEach(function(visitor){ %>
    <tr>
        <td><%= visitor._id %></td>
        <td><%= visitor.name %></td>
        <td><%= visitor.count %></td>
    </tr>
    <% }); %>
</table>